.App-logo {
    height: 5vw;
    padding:2vw;
  }
   
  .App-header {
    background-color: #000000;
    margin-top: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    height: 8vw;
    padding-top:1.2vw;
    padding-right:1.2vw;
    padding-left:1.2vw;
    align-self: center;
  }

  #logo{
      position:absolute;
      padding:-2vw;
      float:left;
      margin-left: 1vw;
 
  }

  ul{
      width: auto;
      float:right;
      padding: -2vw;    
      height:4vw;
      margin: none;

  }

  li{
      display: inline-block;
      height:3.5vw;
   
      padding: 2vw;
      
  }

  a{
     text-align: center; 
     color:white;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.2vw;
     padding-top: -0.5vw;
  }

  a:hover{
      position:initial;
      color:yellow;
      transition:0.5s;
      font-size: 1.4vw;
  }
  nav{
      padding-top: 2vw;
      
  }
  p{
      margin-bottom: none;
  }
  .menu{
    position: relative;
    display:inline-block;
    float:right;
  }
  .dropdown{
      display:none;
    right:0vw;
    position: absolute;
    z-index: 1;
    background-color: black;
    font-size: 3vw;
    padding:1vw;
    margin-top: -2vw;
    margin-right: -1vw;
    min-width: 24vw;

  }
 
  .dropdown:hover .dropdown{
      display:block;
  }
  .dropdown a{
    font-size: 3vw;
    padding:1vw;

 
  }
  .dropdown a:hover{
    color:gold;
    font-size: 3vw;

 
  }
  
  .menu:hover .dropdown{
    display:block;
 
 
  }
  .menubutton{
    background-color:gold;
    font-family: 'Open Sans', sans-serif;
    padding:2vw;
    border: 1px black;
    font-weight: bold;
    font-size: 3.0vw;
    color: black;
    margin-bottom: 10px;
    height:7vw;
  }
  
  .menubutton:hover{
    
    cursor:pointer;
    font-size: 3.25vw;
    border: 5px black;
  }
  
 

  @media only screen and (max-width: 1000px) {
    .App-header {
        background-color: #000000;
        margin-top: 2vw;
        margin-left: 4vw;
        margin-right: 4vw;
        height: 7vw;
        padding:1.2vw;
        align-self: center;
      }

      ul{
        width: auto;
        float:right;  
        height:4vw;
        margin-top: 1vw;
  
    }
    li{
        display: inline-block;
        padding: 2vw;
        padding-top: 0vw;
        
    }
    a{
        text-align: center; 
        color:white;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 2vw;
        padding-top: -0.5vw;
     }
     a:hover{
        position:initial;
        color:yellow;
        transition:0.5s;
        font-size: 2.1vw;
    }

    .fullscreen{
        display:none;
    }


  }
  @media only screen and (min-width: 1000px){
    .menu{
      display:none;
      position: relative;
      display:inline-block;
      float:right;
    }
    .menubutton{
      display:none;
      background-color:gold;
      font-family: 'Open Sans', sans-serif;
      padding:2vw;
      border: 1px black;
      font-weight: bold;
      font-size: 3.0vw;
      color: black;
      margin-bottom: 10px;
      height:7vw;
    }

  }
