.App {
  text-align: center;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bgimg{
  margin-top: 10px;
  width:100%;
  background-image:url('beachtrees.jpg');
  background-repeat: no-repeat;
  height: 600px;
}

.GreyBox{
  margin-left: 15%;
  margin-right: 15%;
}

.ContentBox{
    
  text-align: center;
  background-color: lightgrey;
  border: 1px lightgrey;
  box-shadow: 0 2px 3px #ccc;
  margin-top: 350px;
  margin-left: 20vw;
  margin-right: 20vw;
  
  padding: 16px;
}

.commentbox{
  background-color: white;
  margin-top: 10vw;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px yellow;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0vw;
  padding-top: 6vw;
  border-top: 5px;
}

.commentbutton{
  background-color:gold;
  font-family: 'Open Sans', sans-serif;
  padding:8px;
  border: 1px black;
  font-weight: bold;
  font-size: 1.0vw;
  color: black;
  margin-bottom: 10px;
}

.commentbutton:hover{
  
  cursor:pointer;
  font-size: 1.15vw;
  border: 5px black;
}


.ProfileImages{
  width: 8vw;
  border-radius:50% ;
}
h3{
  list-style:50%;
}

.user{
   margin-top: -10vw;

}
.Dist{
  line-height: 0px;
}

#filledstar{
  color: gold;
  
}
#emptystar{
  color: gold;
  
}
#thumbsdown{
  color:red;
  margin-right: 10px;
}

#thumbsup{
  color:green;
  margin-right: 10px;
}

input{
  background-color: lightyellow;
  border: gold;
  width: 100%;
}

footer{
  text-align: center;
  color: darkgrey;
  font-family:'Open Sans', sans-serif;
}


@media only screen and (max-width: 1000px) {
  .ContentBox{
    
    text-align: center;
    background-color: lightgrey;
    border: 1px lightgrey;
    box-shadow: 0 2px 3px #ccc;
    margin-top: 25vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
    padding: 16px;
  }
  .commentbox{
    background-color: white;
    margin-top: 10vw;
    margin-left: 4vw;
    margin-right: 4vw;
    border: 1px yellow;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.0vw;
    padding:6vw;
    border-top: 5px;
  }
  .bgimg{
    margin-top: 10px;
    width:100%;
    background-image:url('beachtrees.jpg');
    background-repeat: no-repeat;
    height: 55vw;
  }
  .commentbutton{
    background-color:gold;
    font-family: 'Open Sans', sans-serif;
    padding:8px;
    border: 1px black;
    font-weight: bold;
    font-size: 3.0vw;
    color: black;
    margin-bottom: 10px;
  }
  
  .commentbutton:hover{
    
    cursor:pointer;
    font-size: 3.25vw;
    border: 5px black;
  }

 

} 


